<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<link rel="icon" href="{% static 'images/favicon.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
 <meta charset="UTF-8">
 <title>Contact List</title>
 <center><h1><div class="white-box">Contact List</div></h1></center>
 <center><h2><div class="white-box2">Submit or Modify Contacts</div></h2></center>
</head>
<div class="centernav">
    <a href="createcontact/">Submit a Contact</a>
    <a href="contacts/">Check the Catalog and Modify</a>
</div>
<body>
</body>
</html>