<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<link rel="icon" href="{% static 'images/favicon.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
 <meta charset="UTF-8">
 <title>Success</title>
 <br><br><center><h1><div class="white-box">Contact List</div></h1></center>
 <center><h2><div class="white-box2"><font size=5 color=green>Thank you for your submission!</color></div></h2></font>
</head>
<div class="sidenav">
    <a href="../">Home</a>
</div> 
<body>
    <div class="white-box2">
    <h2>Want to submit more?</h2>
    <button onclick="history.back()">Go Back</button>
    </div>
</body>
</html>
